body {
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #808080;
  font-family: georgia;
  opacity: 0.75;
}

.topnav a {
  float: right;
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 16px;
  font-family: georgia;
  opacity: 0.5;
}

.topnav a:hover {
  opacity: .75;
  color: #b3e0f2;
  font-family: georgia;
}
.container {
  position: relative;
}

.text-block {
  position: absolute;
  top: 30px;
  left: 200px;
  right: 300px;
}
